.ingredient-input {
    width: 40%;
}

.qty-input {
    width: 20%;
}

.remove-ingredient {
    position: absolute;
}

.recipe-form-btn {
    width: 100%;
}

.btn-div {
    width: 30%;
}

#add-ingredient-btn {
    width: 100%;
}

#image-helper-text {
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.54);
}