#profile-username-div {
    height: min-content;
    display: flex;
    justify-content: center;
}

.stat-qty {
    text-align: center;
}

.stat-cnt {
    text-align: center;
} 

#user-bio { 
    margin-left: 16px;
}

#profile-name-div {
    position: absolute;
    margin-top: 50px;
    text-align: center;
}

#profile-stats {
    margin-top: 35px;
    color: #dd7454;
}
