
#profile-photo-container {
    width: 100%;
}

#profile-photo {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#profile-username-div {
    height: min-content;
    display: flex;
    justify-content: center;
}

.stat-qty {
    text-align: center;
}

.stat-cnt {
    text-align: center;
} 

#profile-name {
    margin-left: 16px;
    margin-bottom: 0;
}

#user-bio { 
    margin-left: 16px;
}
